@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans';
}

header {
  display: flex;
  padding-left: 80px;
  padding-top: 21px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E6E6E6;
}

main {
  display: flex;
}

.menu {
  padding: 20px;
}

.g1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #A80001;
  margin-right: 1.0rem;
}

.ge {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #06AA48;
  margin-right: 1.0rem;
}

.cartola {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #FF7F00;
  margin-right: 1.0rem;
}

.tech {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #666666;
  margin-right: 1.0rem;
}

.receitas {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #A5147D;
  margin-right: 1.0rem;
}


#first-section {
  width: 663.5px;
  padding-left: 80px;  
}

#h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -0.028em;
  color: #CD150B;
  margin-bottom: 1.5px;
}

#subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.068em;
  color: #CD150B;
  padding-bottom: 20px;
  border-bottom: 1px solid #E6E6E6;
}

#section-on-first {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #E6E6E6;
}

.paragraph-img {
  font-family: 'Open Sans';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.045em;
  text-align: left;
  color: #CD150B;
}

.subtitle-young {
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.048em;
  text-align: left;
  color: #CD150B;
  margin-right: 18px;
}

#section-last {
  display: flex;
  padding-bottom: 10px;
}

.economia-corona-mundo {
  color: #CD150B;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.068em;
}

.last-paragraph {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 21.5px;
  line-height: 25px;
  letter-spacing: -0.045em;
  margin-top: 0.2rem;
  color: black;
  margin-right: 25px;
}

#corona {
  padding-right: 15px;
}

#economia {
  padding-right: 12px;
}


#second-section {
  border-left: 1px solid #E6E6E6;
  padding: 60px;
  margin-left: 35px;
  padding-top: 45px;
}

.img-paragraph {
  margin-top: 1px;
  margin-bottom: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 21.5px;
  line-height: 25px;
  letter-spacing: -0.045em;
  color: #06AA48;
}

#img-paragraph2 {
  margin-top: 1px;
  margin-bottom: 7px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 21.5px;
  line-height: 25px;
  letter-spacing: -0.045em;
  color: #06AA48;
}

#text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 15.5px;
  line-height: 19px;
  letter-spacing: -0.048em;
  color: #06AA48;
}

#third-section {
  padding: 100px;
  background-color: rgb(204, 185, 185);
}